.flex{
display: flex;
align-items: center;
justify-content: center;
}

.pointer{
    
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.pointer:hover{
    text-decoration: underline;
    scale: 1.1 ;
}
.pointer-underline{
    
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.pointer-underline:hover{
    text-decoration: underline;
    scale: 1.1 ;
}
.invert{
    filter: invert(1);
}

.scrollbar::-webkit-scrollbar {
    height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;        
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #5a5a5a;             
}